<section class="user-profile-wrapper">
    <!-- ko ifnot: isEditMode -->
    <h3 class="user-profile-title">Профиль пользователя</h3>
    <div class="user-profile-content-wrapper">
        <img src="Content/img/general/user-icon-128x128.png" alt="" class="img-thumbnail user-profile-image">
        <div class="user-profile-content">
            <h3 class="user-profile-name" data-bind="text: user().username">Adminchik</h3>
            <table class="user-profile-table">
                <tbody>
                    <tr>
                        <td class="with-width">Зарегистрирован:</td>
                        <td>29.09.2014</td>
                    </tr>
                    <tr>
                        <td class="with-width">Дата последнего входа</td>
                        <td>29.09.2014</td>
                    </tr>
                </tbody>
            </table>
            <!-- ko if: isCurrentUser -->
            <button class="user-profile-btn non-static" data-bind="click: changeEditMode">Редактировать профиль</button>
            <!-- /ko -->
        </div>
        <div class="clearfix"></div>
        <div class="user-profile-accordion">
            <ul class="tab-headers">
                <li class="tab-headers-item active tab1">Профиль</li>
                <li class="tab-headers-item tab2">Друзья</li>
            </ul>
            <div class="user-profile-tab tab1">
                <h3 class="user-profile-tab-title">Информация</h3>
                <div class="user-profile-tab-content">
                    <table>
                        <tr class="user-profile-tab-tr">
                            <td class="min">Имя:</td>
                            <td class="max" data-bind="text: user().username">Adminchik</td>
                        </tr>
                        <tr class="user-profile-tab-tr">
                            <td class="min">Пол:</td>
                            <td class="max" data-bind="text: user().sex ? 'Мужской' : 'Женский'">Мужской</td>
                        </tr>
                        <tr class="user-profile-tab-tr">
                            <td class="min">Город:</td>
                            <td class="max" data-bind="text: user().city">Бердичев</td>
                        </tr>
                        <tr class="user-profile-tab-tr">
                            <td class="min">День рождения:</td>
                            <td class="max" data-bind="text: user().birthday.getDate() + '/' + (user().birthday.getMonth() + 1) + '/' + user().birthday.getFullYear()">16.06.1991</td>
                        </tr>
                        <tr class="user-profile-tab-tr">
                            <td class="min">Skype:</td>
                            <td class="max" data-bind="text: user().skype">monterio</td>
                        </tr>
                        <tr>
                            <td class="min">О себе:</td>
                            <td class="max" data-bind="text: user().aboutmyself">О себе О себе О себе О себе О себе О себе О себе О себе О себе О себе О себе О себе О себе О себе О себе О себе О себе
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isEditMode -->
    <h3 class="user-profile-title">Редактировать профиль</h3>
    <h4 class="user-profile-title small" data-bind="click: changeEditMode">Вернуться в провиль</h4>
    <div class="user-profile-content-wrapper">
        <div class="edit-profile" data-bind="accordion: {}">
            <div class="form-row accordion-container">
                <h3 class="form-row-title">Изменить информацию о себе</h3>
                <div class="form-row-content accordion-item">
                    <div class="form">
                        <label class="label">
                            <div class="label-text">Город:</div>
                            <input data-bind="value: city, valueUpdate: 'afterkeydown'" class="form-input" />
                        </label>
                        <label class="label">
                            <div class="label-text">Пол:</div>
                            <select class="form-input select" data-bind="options: sexs, optionsText:'text', value: sex">
                            </select>
                        </label>
                        <label class="label">
                            <div class="label-text">День рождения:</div>
                            <input data-bind="datepicker: birthday, datepickerOptions: { changeMonth: true, changeYear: true, yearRange: '1970:2013' }" class="form-input" data-bind="datepicker: 0, datepickerOptions: { changeMonth: true, changeYear: true, yearRange: '1970:2013' }" />
                        </label>
                        <label class="label">
                            <div class="label-text">Скайп:</div>
                            <input data-bind="value: skype, valueUpdate: 'afterkeydown'" class="form-input" />
                        </label>
                        <label class="label all">
                            <div class="label-text">О себе:</div>
                            <textarea data-bind="value: aboutmyself, valueUpdate: 'afterkeydown'" class="form-textarea"></textarea>
                        </label>
                    </div>
                    <div class="form-image">
                        <img src="Content/img/general/user-icon-128x128.png" alt="" class="img-thumbnail user-profile-image">
                    </div>
                    <div class="clearfix"></div>
                    <button class="user-profile-btn static" data-bind="click: saveChanges">Сохранить изменения</button>
                </div>
            </div>
            <div class="form-row accordion-container">
                <h3 class="form-row-title">Изменить пароль</h3>
                <div class="form-row-content accordion-item">
                    <div class="form">
                        <label class="label">
                            <div class="label-text">Текущий пароль:</div>
                            <input class="form-input" type="password" data-bind="value: currentPassword, valueUpdate: 'afterkeydown', css: { error: incorrectCurrentPassword }, event: { focus: function(){ incorrectCurrentPassword(false) } }" />
                        </label>
                        <div class="clearfix"></div>
                        <label class="label">
                            <div class="label-text">Новый пароль:</div>
                            <input class="form-input" type="password" data-bind="value: password, valueUpdate: 'afterkeydown', css: { error: incorrectPassword }, event: { focus: function(){ incorrectPassword(false) } }" />
                        </label>
                        <label class="label">
                            <div class="label-text">Подвердить пароль:</div>
                            <input class="form-input" type="password" data-bind="value: confirmPassword, valueUpdate: 'afterkeydown', css: { error: incorrectPassword }, event: { focus: function(){ incorrectPassword(false) } }" />
                        </label>
                    </div>
                    <div class="clearfix"></div>
                    <button class="user-profile-btn static" data-bind="click: changePassword">Сменить пароль</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko ifnot: isCurrentUser -->
    <div>
        <label>
            Пароль
        </label>
        <input type="password" data-bind="value: password, valueUpdate: 'afterkeydown'" />
    </div>
    <div>
        <label>
            Подвердите пароль
        </label>
        <input type="password" data-bind="value: confirmPassword, valueUpdate: 'afterkeydown'" />
    </div>
    <div>
        <label>
            День рождения
        </label>
        <input type="text" data-bind="datepicker: birthday, datepickerOptions: { changeMonth: true, changeYear: true, yearRange: '1970:2013' }" />
    </div>
    <div>
        <label>
            Пол
        </label>
        <input type="text" data-bind="value: sex, valueUpdate: 'afterkeydown'" />
    </div>
    <div>
        <label>
            Город
        </label>
        <input type="text" data-bind="value: city, valueUpdate: 'afterkeydown'" />
    </div>
    <div>
        <label>
            Скайп
        </label>
        <input type="text" data-bind="value: skype, valueUpdate: 'afterkeydown'" />
    </div>
    <div>
        <label>
            О себе
        </label>
        <textarea data-bind="value: aboutmyself, valueUpdate: 'afterkeydown'"></textarea>
    </div>
    <div>
        <div>Сохранить изменения</div>
    </div>
    <!-- /ko -->
</section>
