<section class="user-profile-wrapper">
    <h3>Профиль пользователя</h3>
    <div class="panel yellow">
        <div class="user-info">
            <table class="table not-bordered">
                <tr>
                    <td>Логин</td>
                    <td>Daniel</td>
                </tr>
                <tr>
                    <td>День рождения</td>
                    <td>27.01.1991</td>
                </tr>
                <tr>
                    <td>Пол</td>
                    <td>Мужской</td>
                </tr>
                <tr>
                    <td>Город</td>
                    <td>Житомир</td>
                </tr>
                <tr>
                    <td>Дата регистрации</td>
                    <td>01.02.2014</td>
                </tr>
            </table>
        </div>
        <img src="Content/img/general/user-icon-128x128.png" alt="" class="img-thumbnail user-img">
    </div>
</section>
