<section class="registrtion-view">
	<h3 class="title" data-bind="localize: {text: 'registration'}">Регистрация</h3>
	<div class="form-horizontal">
		<div class="form-group has-success has-feedback">
			<label for="inputLogin" class="col-sm-5 control-label" data-bind="localize: {text: 'login'}">Логин</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="inputLogin" >
				<span class="glyphicon glyphicon-ok form-control-feedback"></span>
			</div>
			<div class="col-sm-1 ball moving">
				<div class="area"></div>
			</div>
		</div>
		<div class="form-group has-warning has-feedback">
			<label for="inputEmail" class="col-sm-5 control-label" data-bind="localize: {text: 'email'}">Электронная почта</label>
			<div class="col-sm-3">
				<input type="email" class="form-control" id="inputEmail" >
				<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
			</div>
			<div class="col-sm-1 ball moving">
				<div class="area"></div>
			</div>
		</div>
		<div class="form-group has-error has-feedback">
			<label for="inputPassword" class="col-sm-5 control-label" data-bind="localize: {text: 'password'}">Пароль</label>
			<div class="col-sm-3">
				<input type="password" class="form-control" id="inputPassword">
				<span class="glyphicon glyphicon-remove form-control-feedback"></span>
			</div>
			<div class="col-sm-1 ball moving">
				<div class="area"></div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword2" class="col-sm-5 control-label" data-bind="localize: {text: 'repeatpassword'}">Подтвердите пароль</label>
			<div class="col-sm-3">
				<input type="password" class="form-control" id="inputPassword2">
			</div>
		</div>
		<div class="form-group">
			<label for="inputSkype" class="col-sm-5 control-label" data-bind="localize: {text: 'skype'}">Skype</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="inputSkype">
			</div>
		</div>
		<div class="form-group">
			<label for="inputBirth" class="col-sm-5 control-label" data-bind="localize: {text: 'birthday'}">День рождения</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="inputBirth">
			</div>
		</div>
		<div class="form-group">
			<label for="inputCity" class="col-sm-5 control-label" data-bind="localize: {text: 'city'}">Город</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="inputCity">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-5 control-label" data-bind="localize: {text: 'sex'}">Пол</label>
			<div class="col-sm-3">
				<select class="form-control">
					<option data-bind="localize: {text: 'man'}">Мужской</option>
					<option data-bind="localize: {text: 'woman'}">Женский</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="inputAbout" class="col-sm-5 control-label" data-bind="localize: {text: 'aboutmyself'}">О себе</label>
			<div class="col-sm-3">
				<textarea class="form-control" rows="3" id="inputAbout"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="inputRef" class="col-sm-5 control-label" data-bind="localize: {text: 'referrer'}">Реферер</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" id="inputRef" disabled>
			</div>
		</div>
		<button type="button" class="btn btn-primary" data-bind="localize: {text: 'signup'}">Зарегистрироваться</button>
	</div>
</section>