<section class="news-wrapper">
    <table>
        <tbody>
            <tr>
                <td style="width: 30%;">
                    <div class="news-img-wrapper">
                        <img class="img-thumbnail" src="http://isport.ua/i/b/post/64x64/78341.jpg" />
                    </div>
                </td>
                <td>
                    <div class="news-date">14 мая 2014, 09:37</div>
                    <div class="news-title">25 лучших голов в Бундеслиге 2013-2014</div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;">
                    <div class="news-img-wrapper">
                        <img class="img-thumbnail" src="http://isport.ua/i/b/post/64x64/78274.jpg" />
                    </div>
                </td>
                <td>
                    <div class="news-date">13 мая 2014, 13:33</div>
                    <div class="news-title">Английский пациент и шоколадная фабрика</div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;">
                    <div class="news-img-wrapper">
                        <img class="img-thumbnail" src="http://isport.ua/i/b/post/64x64/78328.jpg" />
                    </div>
                </td>
                <td>
                    <div class="news-date">13 мая 2014, 12:55</div>
                    <div class="news-title">Пенальти Росса Баркли</div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;">
                    <div class="news-img-wrapper">
                        <img class="img-thumbnail" src="http://isport.ua/i/b/post/64x64/78299.jpg" />
                    </div>
                </td>
                <td>
                    <div class="news-date">13 мая 2014, 01:35</div>
                    <div class="news-title">Ми ходимо не на футбол, а на Уніон</div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;">
                    <div class="news-img-wrapper">
                        <img class="img-thumbnail" src="http://isport.ua/i/b/post/64x64/78318.jpg" />
                    </div>
                </td>
                <td>
                    <div class="news-date">12 мая 2014, 21:28</div>
                    <div class="news-title">Забить 100 – не получить ничего</div>
                </td>
            </tr>
            
            <tr>
                <td style="width: 30%;">
                    <div class="news-img-wrapper">
                        <img class="img-thumbnail" src="http://s.ill.in.ua/i/news/630x373/237/237278.jpg" />
                    </div>
                </td>
                <td>
                    <div class="news-date">14 мая 2014, 21:43</div>
                    <div class="news-title">МЮ: ван Гаал проведет встречу с Гиггзом</div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;">
                    <div class="news-img-wrapper">
                        <img class="img-thumbnail" src="http://s.ill.in.ua/i/news/630x373/237/237277.jpg" />
                    </div>
                </td>
                <td>
                    <div class="news-date">14 мая 2014, 21:25</div>
                    <div class="news-title">Кардифф: клуб получит 62 миллиона за ТВ-права</div>
                </td>
            </tr>
            
            <tr>
                <td style="width: 30%;">
                    <div class="news-img-wrapper">
                        <img class="img-thumbnail" src="http://s.ill.in.ua/i/news/630x373/237/237276.jpg" />
                    </div>
                </td>
                <td>
                    <div class="news-date">14 мая 2014, 21:16</div>
                    <div class="news-title">Карпаты: на стадионе Украина будет новый газон</div>
                </td>
            </tr>
            
            <tr>
                <td style="width: 30%;">
                    <div class="news-img-wrapper">
                        <img class="img-thumbnail" src="http://s.ill.in.ua/i/news/630x373/237/237275.jpg" />
                    </div>
                </td>
                <td>
                    <div class="news-date">14 мая 2014, 20:55</div>
                    <div class="news-title">Тони: знал, что меня не возьмут на ЧМ</div>
                </td>
            </tr>
            
            <tr>
                <td style="width: 30%;">
                    <div class="news-img-wrapper">
                        <img class="img-thumbnail" src="http://s.ill.in.ua/i/news/630x373/237/237274.jpg" />
                    </div>
                </td>
                <td>
                    <div class="news-date">14 МАЯ 2014, 21:25</div>
                    <div class="news-title">Прийма: "Всем запомнились наши игры с Шахтером, Днепром и Металлистом"</div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
