<header>
    <nav class="scoreboard">
        <ul>
            <li>ГЛАВНАЯ</li>
            <li>:</li>
            <li>НОВОСТИ</li>
            <li>:</li>
            <li>ПРАВИЛА</li>
            <li>:</li>
            <li>ФОРУМ</li>
            <li>:</li>
            <li>РЕГИСТРАЦИЯ</li>
        </ul>
    </nav>
    <div class="user-wrapper">
        <div class="user-icon"></div>
    </div>
    <div class="field"></div>
</header>

<section class="content-wrapper">
    <article class="left-content">
        <p class="title-block">Новости</p>
    </article>
    <article class="main-content">
        <nav class="user-menu">
            <ul>
                <li>
                    <a href="javascript: void(0)">Игрок</a>
                    <ul>
                        <li><a href="javascript: void(0)">Обзор</a></li>
                        <li><a href="javascript: void(0)">Экипировка</a></li>
                        <li><a href="javascript: void(0)">Подпункт №3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0)">Команда</a>
                    <ul>
                        <li><a href="javascript: void(0)">Состав</a></li>
                        <li><a href="javascript: void(0)">Подпункт №2</a></li>
                        <li><a href="javascript: void(0)">Подпункт №3</a></li>
                        <li><a href="javascript: void(0)">Подпункт №4</a></li>
                        <li><a href="javascript: void(0)">Подпункт №5</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0)">Команды</a>
                    <ul>
                        <li><a href="javascript: void(0)">Подпункт №1</a></li>
                        <li><a href="javascript: void(0)">Подпункт №2</a></li>
                        <li><a href="javascript: void(0)">Подпункт №3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0)">Турниры</a>
                    <ul>
                        <li><a href="javascript: void(0)">Подпункт №1</a></li>
                        <li><a href="javascript: void(0)">Подпункт №2</a></li>
                        <li><a href="javascript: void(0)">Подпункт №3</a></li>
                        <li><a href="javascript: void(0)">Подпункт №4</a></li>
                        <li><a href="javascript: void(0)">Подпункт №5</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0)">Рейтинги</a>
                    <ul>
                        <li><a href="javascript: void(0)">Подпункт №1</a></li>
                        <li><a href="javascript: void(0)">Подпункт №2</a></li>
                        <li><a href="javascript: void(0)">Подпункт №3</a></li>
                        <li><a href="javascript: void(0)">Подпункт №4</a></li>
                        <li><a href="javascript: void(0)">Подпункт №5</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0)">Статистика</a>
                </li>
                <li>
                    <a href="javascript: void(0)">Поддержка</a>
                </li>
            </ul>
        </nav>
        <div data-bind="router: { cacheViews: false }"></div>
    </article>
</section>
