<section class="team-wrapper">
    <div class="table-responsive">
        <table class="table table-bordered team-table">
            <thead>
                <tr>
                    <th>
                        Имя
                    </th>
                    <th>
                        Страна
                    </th>
                    <th>
                        <abbr title="Скорость">Cк.</abbr>
                    </th>
                    <th>
                        <abbr title="Игра головой">ИГ</abbr>

                    </th>
                    <th>
                        <abbr title="Сила удара">СУ</abbr>
                    </th>
                    <th>
                        <abbr title="Пас">Пас</abbr>
                    </th>
                    <th>
                        <abbr title="Точность">Точн.</abbr>
                    </th>
                    <th>
                        <abbr title="Отбор">Отбор</abbr>
                    </th>
                    <th>
                        <abbr title="Дриблинг">Др.</abbr>
                    </th>
                    <th>
                        <abbr title="Владение мячом">Вл.</abbr>
                    </th>
                    <th>
                        <abbr title="Реакция">Реакц.</abbr>
                    </th>
                    <th>
                        <abbr title="Игра в воздухе">ИвВ</abbr>
                    </th>
                    <th>
                        <abbr title="Прыжок">Пр.</abbr>
                    </th>
                    <th>
                        <abbr title="Позиционироване">Поз.</abbr>
                    </th>
                    <th>
                        <abbr title="Выносливость">Вын.</abbr>
                    </th>
                    <th>
                        <abbr title="Лиедрство">Cк.</abbr>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="javascript: void(0);">
                            Андрей Шевченко
                        </a>
                    </td>
                    <td>
                        Украина
                    </td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript: void(0);">
                            Андрей Шевченко
                        </a>
                    </td>
                    <td>
                        Украина
                    </td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript: void(0);">
                            Андрей Шевченко
                        </a>
                    </td>
                    <td>
                        Украина
                    </td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript: void(0);">
                            Андрей Шевченко
                        </a>
                    </td>
                    <td>
                        Украина
                    </td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript: void(0);">
                            Андрей Шевченко
                        </a>
                    </td>
                    <td>
                        Украина
                    </td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript: void(0);">
                            Андрей Шевченко
                        </a>
                    </td>
                    <td>
                        Украина
                    </td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript: void(0);">
                            Андрей Шевченко
                        </a>
                    </td>
                    <td>
                        Украина
                    </td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript: void(0);">
                            Андрей Шевченко
                        </a>
                    </td>
                    <td>
                        Украина
                    </td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript: void(0);">
                            Андрей Шевченко
                        </a>
                    </td>
                    <td>
                        Украина
                    </td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript: void(0);">
                            Андрей Шевченко
                        </a>
                    </td>
                    <td>
                        Украина
                    </td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>