<section class="team-wrapper">
    <div class="table-responsive">
        <h3 class="team-position-name">Голкиперы</h3>
        <table class="table table-bordered team-table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Страна</th>
                    <!-- ko foreach: skillsGK -->
                    <th>
                        <abbr data-bind="text: abbr, attr: { title: name }"></abbr>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: teamGK -->
                <tr>
                    <td class="table-td-20">
                        <a href="javascript: void(0);" data-bind="click: $parent.goToPlayerProfile, text: name + ' ' + surname"></a>
                    </td>
                    <td class="table-td-10">
                        <div class="country-image-wrapper">
                            <img class="img-responsive" data-bind="attr: { src: 'Content/img/country/' + country.publicId + '.png', title: country.name }" />
                        </div>
                    </td>
                    <!-- ko foreach: skills -->
                    <td data-bind="text: value"></td>
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h3 class="team-position-name">Защитники</h3>
        <table class="table table-bordered team-table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Страна</th>
                    <!-- ko foreach: skillsDEF -->
                    <th>
                        <abbr data-bind="text: abbr, attr: { title: name }"></abbr>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: teamDEF -->
                <tr>
                    <td class="table-td-20">
                        <a href="javascript: void(0);" data-bind="click: $parent.goToPlayerProfile, text: name + ' ' + surname"></a>
                    </td>
                    <td class="table-td-10">
                        <div class="country-image-wrapper">
                            <img class="img-responsive" data-bind="attr: { src: 'Content/img/country/' + country.publicId + '.png', title: country.name }" />
                        </div>
                    </td>
                    <!-- ko foreach: skills -->
                    <td data-bind="text: value"></td>
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h3 class="team-position-name">Полузащитники</h3>
        <table class="table table-bordered team-table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Страна</th>
                    <!-- ko foreach: skillsMID -->
                    <th>
                        <abbr data-bind="text: abbr, attr: { title: name }">Cк.</abbr>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: teamMID -->
                <tr>
                    <td class="table-td-20">
                        <a href="javascript: void(0);" data-bind="click: $parent.goToPlayerProfile, text: name + ' ' + surname"></a>
                    </td>
                    <td class="table-td-10">
                        <div class="country-image-wrapper">
                            <img class="img-responsive" data-bind="attr: { src: 'Content/img/country/' + country.publicId + '.png', title: country.name }" />
                        </div>
                    </td>
                    <!-- ko foreach: skills -->
                    <td data-bind="text: value"></td>
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h3 class="team-position-name">Форварды</h3>
        <table class="table table-bordered team-table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Страна</th>
                    <!-- ko foreach: skillsFW -->
                    <th>
                        <abbr data-bind="text: abbr, attr: { title: name }"></abbr>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: teamFW -->
                <tr>
                    <td class="table-td-20">
                        <a href="javascript: void(0);" data-bind="click: $parent.goToPlayerProfile, text: name + ' ' + surname"></a>
                    </td>
                    <td class="table-td-10">
                        <div class="country-image-wrapper">
                            <img class="img-responsive" data-bind="attr: { src: 'Content/img/country/' + country.publicId + '.png', title: country.name }" />
                        </div>
                    </td>
                    <!-- ko foreach: skills -->
                    <td data-bind="text: value"></td>
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</section>
