<section class="rules-wrapper">
    <p>Мы приветствуем вас в футбольном менеджере и надеемся, что игра доставит вам удовольствие! Жанр футбольного менеджера предполагает, что участник выступает в качестве игрока, его основная задача — подобрать наиболее эффективную тактику против конкретного соперника, правильно выставить настройки на игру и успешно выступить в турнире, умело распределив силы футболистов на серию матчей. </p>
    <p>Ваша цель в игре — одержать победу в наибольшем количестве матчей, набрать максимальное количество баллов в призовых турнирах и занять достойное место в рейтинге.</p>
    <p>Администрация оставляет за собой право в любой момент изменить действующие правила без уведомления пользователей.</p>
    <p>В спорных ситуациях администратор принимает решение опираясь на личное мнение о ситуации. </p>
    
    <p class="title">Запрещено:</p>
    <ul>
        <li>Оскорблять участников сайта в любой форме (Запрещено проявление любой грубости, угроз, личных оскорблений и нецензурных высказываний, в том числе и в скрытой форме, как в отношении юридических, так и конкретных физических лиц). Участники должны соблюдать уважительную форму общения. </li>
        <li>Пользоваться в общении нецензурными выражениями и словами, в том числе и в завуалированной форме. Закрытие части матерного слова звездочками или другими спец.символами приравнивается к нарушению данного пункта правил. </li>
        <li>Писать рекламные тексты и сообщения коммерческого характера, в том числе размещать ссылки на любые сторонние ресурсы. </li>
        <li>Проявлять расовую, национальную и религиозную неприязнь, пропагандировать терроризм, экстремизм, наркотики и прочие темы, несовместимые с общепринятыми законами морали и приличия. </li>
        <li>Использовать в общении язык, отличный от русского, и большинство букв предложения заглавными. </li>
        <li>Размещать сообщения, несущие в себе зерна провокации и подстреканий к любого рода конфликтам среди пользователей — то есть, заниматься троллингом.</li>
    </ul>
</section>