<section class="home-wrapper">
    <div class="hello-wrapper">
        <p class="title">Добро пожаловать в онлайн игру<br/>"Футбольный менеджер"</p>
        <p>Вы создаёте игрока и управляете им, соревнуетесь с тысячами реальных соперников. </p>
        <p>Внутри нашего мира - всё как в настоящем футболе: национальные чемпионаты и кубки, Лига чемпионов и Лига Европы, Кубок Либертадорес и Кубок африканской конфедерации, чемпионаты мира и отдельных континентов, товарищеские игры и коммерческие турниры - все страны и соревнования. </p>
        <p>Вы можете сделать карьеру успешного игрока, меняя места своей работы или достигнув футбольных вершин со своим первым клубом. </p>
        <p>Играйте в футбольные игры бесплатно где угодно будь то дома, на работе или будучи в гостях.</p>
    </div>
    <div class="show-matches-wrapper">
        <!-- ko compose: 'viewmodels/match/matchlist' --><!-- /ko -->
    </div>
</section>