.match-list-wrapper{
    text-align: center;
}
.match-list-wrapper .title{
    font-size: 18px;
}
.match-list-wrapper .short-name{
    font-size: 11px;
}
.match-list-wrapper .match-info{
    color: wheat;
    font-size: 15px;
    display: block;
    margin: 0 10px;
}
.match-list-wrapper .small-date {
    margin-bottom: 6px;
    font-size: 11px;
    color: cadetblue;
}
.match-list-wrapper .match-info-wrapper {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    margin-bottom: 5px;
}
.match-list-wrapper .match-info-wrapper .team-logo {
    width: 25px;
}