.tournament-info-wrapper .table{
    width: 90%;
    margin: 0 5% 10px;
}
.tournament-info-wrapper .table thead tr th{
    border-bottom: none;
}
.tournament-info-wrapper .table tbody tr:nth-child(odd) {
    background-color: #d3d3d3;
background-color: rgba(211, 211, 211, 0.1);
}
.tournament-info-wrapper .table tbody tr td{
    border-top: none;
    vertical-align: middle;
}
.tournament-info-wrapper .table tbody tr td img {
    width: 30px;
}

.tournament-info-wrapper .matches-wrapper{
    display: -webkit-box;
}
.tournament-info-wrapper .matches-wrapper .today-wrapper{
    width: 50%;
}
.tournament-info-wrapper .matches-wrapper .soon-wrapper{
    width: 50%;
}
.tournament-info-wrapper .title{
    text-align: center;
    font-size: 18px;
    margin: 0 0 5px 0;
}
.tournament-info-wrapper .tour{
    text-align: center;
    margin: 0;
    font-size: 16px;
}
.tournament-info-wrapper .small-text {
    font-size: 11px;
    text-align: center;
}
.tournament-info-wrapper .match-info-block{
    display: -webkit-box;
    -webkit-box-pack: center;
    margin-bottom: 10px;
}
.tournament-info-wrapper .match-info-block img{
    width: 30px;
}
.tournament-info-wrapper .match-info-block .teams-info{
    margin: 0 10px;
    display: -webkit-box;
    -webkit-box-align: center;
    cursor: pointer;
    color: wheat;  font-size: 15px;
}
.tournament-info-wrapper .title-wrapper{
    display: -webkit-box;
    margin: 0 5%;
    -webkit-box-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
.tournament-info-wrapper .title-wrapper img{
    width: 70px;
}
.tournament-info-wrapper .title-wrapper .tournament-name{
    margin: 0 0 0 30px;
    font-size: 20px;
}