<nav class="scoreboard">
    <ul>
        <li data-bind="click: goToHome, localize: {text: 'home' }"></li>
        <li>:</li>
        <li data-bind="click: goToNews, localize: {text: 'news' }"></li>
        <li>:</li>
        <li data-bind="click: goToRules, localize: {text: 'rules' }"></li>
        <li>:</li>
        <li data-bind="click: goToForum, localize: {text: 'forum' }"></li>
        <li>:</li>
        <!-- ko ifnot: isAuthenticated -->
        <li data-bind="click: goToSignUp, localize: {text: 'registration' }"></li>
        <!-- /ko -->
        <!-- ko if: isAuthenticated -->
        <li data-bind="click: goToSignUp">Поддержка</li>
        <!-- /ko -->
    </ul>
</nav>