<nav class="scoreboard">
    <ul>
        <li data-bind="click: goToHome, localize: {text: 'home' }">ГЛАВНАЯ</li>
        <li>:</li>
        <li data-bind="click: goToNews, localize: {text: 'news' }">НОВОСТИ</li>
        <li>:</li>
        <li data-bind="click: goToRules, localize: {text: 'rules' }">ПРАВИЛА</li>
        <li>:</li>
        <li data-bind="click: goToForum, localize: {text: 'forum' }">ФОРУМ</li>
        <li>:</li>
        <li data-bind="click: goToSignUp, localize: {text: 'registration' }">РЕГИСТРАЦИЯ</li>
    </ul>
</nav>
<div class="user-wrapper">
    <div class="user-icon"></div>
</div>
<div class="field"></div>