<nav class="user-menu">
    <ul>
        <!-- ko if: isAuthenticated -->
        <li>
            <a href="javascript: void(0)">Игрок</a>
            <ul>
                <li><a data-bind="click: goToPlayerProfile">Обзор</a></li>
                <li><a data-bind="click: goToTraining">Тренировка</a></li>
                <li><a data-bind="click: goToEquipment">Экипировка</a></li>
                <li><a data-bind="click: goToCity">Город</a></li>
                <!-- ko if: isCoatch -->
                <li><a href="javascript: void(0)" data-bind="click: goToCoathRoom">Тренерская</a></li>
                <!-- /ko -->
            </ul>
        </li>
        <!-- ko if: hasTeam -->
        <li>
            <a data-bind="text: team().name, click: goToOwnTeam"></a>
        </li>
        <!-- /ko -->
        <!-- /ko -->
        <li>
            <a href="javascript: void(0)">Команды</a>
            <ul>
                <li><a data-bind="click: goToTeams">Все команды</a></li>
                <li><a data-bind="click: goToUATeams">Украина</a></li>
                <li><a data-bind="click: goToENTeams">Англия</a></li>
                <li><a data-bind="click: goToESTeams">Испания</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript: void(0)">Турниры</a>
            <ul data-bind="foreach: seasonsList">
                <li><a data-bind="attr: { href: '/#season/' + title }, text: title + ' сезон'"></a></li>
            </ul>
        </li>
        <li>
            <a href="javascript: void(0)">Рейтинги</a>
            <ul>
                <li><a data-bind="click: goToRaiting">Общий топ</a></li>
                <li><a data-bind="click: goToGKRaiting">Топ голкиперов</a></li>
                <li><a data-bind="click: goToDEFRaiting">Топ защитников</a></li>
                <li><a data-bind="click: goToMIDRaiting">Топ полузащитнков</a></li>
                <li><a data-bind="click: goToFWRaiting">Топ нападающих</a></li>
            </ul>
        </li>
        <!-- ko ifnot: isAuthenticated -->
        <li>
            <a href="javascript: void(0)">Поддержка</a>
        </li>
        <!-- /ko -->
    </ul>
</nav>
