<nav class="user-menu">
    <ul>
        <!-- ko if: isAuthenticated -->
        <li>
            <a href="javascript: void(0)">Игрок</a>
            <ul>
                <li><a data-bind="click: goToPlayerProfile" href="javascript: void(0)">Обзор</a></li>
                <li><a href="javascript: void(0)">Тренировка</a></li>
                <li><a data-bind="click: goToEquipment" href="javascript: void(0)">Экипировка</a></li>
                <li><a href="javascript: void(0)">Развлечения</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript: void(0)">Команда</a>
            <ul>
                <li><a data-bind="click: goToTeamComposition" href="javascript: void(0)">Состав</a></li>
                <li><a href="javascript: void(0)">Подпункт №2</a></li>
                <li><a href="javascript: void(0)">Подпункт №3</a></li>
                <li><a href="javascript: void(0)">Подпункт №4</a></li>
                <li><a href="javascript: void(0)">Подпункт №5</a></li>
            </ul>
        </li>
        <!-- /ko -->
        <li>
            <a href="javascript: void(0)">Команды</a>
            <ul>
                <li><a href="javascript: void(0)">Все команды</a></li>
                <li><a href="javascript: void(0)">Украина</a></li>
                <li><a href="javascript: void(0)">Франция</a></li>
                <li><a href="javascript: void(0)">Португалия</a></li>
                <li><a href="javascript: void(0)">Германия</a></li>
                <li><a href="javascript: void(0)">Италия</a></li>
                <li><a href="javascript: void(0)">Беларусь</a></li>
                <li><a href="javascript: void(0)">Англия</a></li>
                <li><a href="javascript: void(0)">Испания</a></li>
                <li><a href="javascript: void(0)">Россия</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript: void(0)">Турниры</a>
            <ul data-bind="foreach: seasonsList">
                <li><a data-bind="attr: { href: '/#season/' + title }, text: title + ' сезон'"></a></li>
            </ul>
        </li>
        <li>
            <a href="javascript: void(0)">Рейтинги</a>
            <ul>
                <li><a href="javascript: void(0)">Топ команд</a></li>
                <li><a href="javascript: void(0)">Общий топ</a></li>
                <li><a href="javascript: void(0)">Топ голкиперов</a></li>
                <li><a href="javascript: void(0)">Топ защитников</a></li>
                <li><a href="javascript: void(0)">Топ полузащитнков</a></li>
                <li><a href="javascript: void(0)">Топ нападающих</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript: void(0)">Статистика</a>
        </li>
        <!-- ko ifnot: isAuthenticated -->
        <li>
            <a href="javascript: void(0)">Поддержка</a>
        </li>
        <!-- /ko -->
    </ul>
</nav>
