<section class="player-profile-wrapper">
    <h3 class="text-center">Город</h3>
    <p>В городе вы можете поднять настроение или лидерство своему игроку.</p>
    <p>А также можна вылечить вашего игрока если он получил травму.</p>
    <table class="table">
        <tr>
            <td>
                <div class="city-img-wrapepr">
                    <img class="img-thumbnail" src="/Content/img/bassein.jpeg" alt=""/>
                </div>
                <div class="city-text-wrapper text-center">
                    <span class="city-text">Басcейн</span>
                </div>
            </td>
            <td>
                <div class="city-img-wrapepr">
                    <img class="img-thumbnail" src="/Content/img/kinoteatr.jpg" alt=""/>
                </div>
                <div class="city-text-wrapper text-center">
                    <span class="city-text">Кинотеатр</span>
                </div>
            </td>
            <td>
                <div class="city-img-wrapepr">
                    <img class="img-thumbnail" src="/Content/img/kv1.jpg" alt=""/>
                </div>
                <div class="city-text-wrapper text-center">
                    <span class="city-text">Жилье</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="city-img-wrapepr">
                    <img class="img-thumbnail" src="/Content/img/psiholog.jpg" alt=""/>
                </div>
                <div class="city-text-wrapper text-center">
                    <span class="city-text">Психолог</span>
                </div>
            </td>
            <td>
                <div class="city-img-wrapepr">
                    <img class="img-thumbnail" src="/Content/img/bar.jpg" alt=""/>
                </div>
                <div class="city-text-wrapper text-center">
                    <span class="city-text">Бар</span>
                </div>
            </td>
            <td>
                <div class="city-img-wrapepr">
                    <img class="img-thumbnail" src="/Content/img/cross-300.gif" alt=""/>
                </div>
                <div class="city-text-wrapper text-center">
                    <span class="city-text">Медпункт</span>
                </div>
            </td>
        </tr>
    </table>
</section>