<section class="player-profile-wrapper">
    <!-- ko if: isNotHavePlayer -->
    <div class="has-not-player">
        Вы еще не создали игрока. Пожалуйста, перейдите по <a href="#/createplayer">ссылке</a>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: isNotHavePlayer -->
    <div class="player-content-wrapper">
        <h3 class="player-profile-title">Профиль игрока</h3>
        <div class="player-profile-content">
            <div class="table-responsive">
                <table class="table table-bordered player-profile-general">
                    <thead>
                        <tr>
                            <td colspan="2">Основные данные:</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Имя</td>
                            <td data-bind="text: player.name + ' ' + player.surname ">Андрей Шевченко</td>
                        </tr>
                        <tr>
                            <td>Позиция</td>
                            <td data-bind="text: player.position.Name">Нападающий</td>
                        </tr>
                        <tr>
                            <td>Возраст</td>
                            <td data-bind="text: player.age">25</td>
                        </tr>
                        <tr>
                            <td>Рост</td>
                            <td data-bind="text: player.growth">180 см.</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td data-bind="text: player.weight">80 кг.</td>
                        </tr>
                        <tr>
                            <td>Настроение</td>
                            <td data-bind="text: player.humor">100%</td>
                        </tr>
                        <tr>
                            <td>Состояние</td>
                            <td data-bind="text: player.condition">100%</td>
                        </tr>
                        <tr>
                            <td>Финансы</td>
                            <td data-bind="text: player.money">10000 грн.</td>
                        </tr>
                        <tr>
                            <td>Зарплата</td>
                            <td data-bind="text: player.salary">20 грн.</td>
                        </tr>
                        <tr>
                            <td>Команда</td>
                            <td data-bind="text: player.teamId">Динамо Киев</td>
                        </tr>
                        <tr>
                            <td>Страна</td>
                            <td data-bind="text: player.country.Name">Украина</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="player-photo-wrapper">
        <img class="player-photo" src="/Content/img/general/player-form.png" />
        <!--<span class="player-number">10</span>
            <span class="player-surname">Шевченко</span>-->
    </div>
    <h3>Характеристики игрока</h3>
    <table class="skills-info table" data-bind="foreach: skills">
        <tr>
            <td data-bind="text: name"></td>
            <td>
                <div class="player-profile-progress">
                    <div class="player-profile-progress-bar" data-bind="style: { 'width': width + '%' }"></div>
                </div>
            </td>
            <td data-bind="text: value"></td>
        </tr>
    </table>
    <!-- /ko -->
</section>
