<section class="player-profile-wrapper">
    <!-- ko if: isNotHavePlayer -->
    <div class="has-not-player">
        Вы еще не создали игрока. Пожалуйста, перейдите по <a href="#/createplayer">ссылке</a>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: isNotHavePlayer -->
    <div class="player-content-wrapper">
        <h3 class="player-profile-title">Профиль игрока</h3>
        <div class="player-profile-content">
            <div class="table-responsive">
                <table class="table table-bordered player-profile-general">
                    <thead>
                        <tr>
                            <td colspan="2">Основные данные:</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Имя</td>
                            <td>Андрей Шевченко</td>
                        </tr>
                        <tr>
                            <td>Позиция</td>
                            <td>Нападающий</td>
                        </tr>
                        <tr>
                            <td>Возраст</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>Рост</td>
                            <td>180 см.</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>80 кг.</td>
                        </tr>
                        <tr>
                            <td>Настроение</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <td>Состояние</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <td>Финансы</td>
                            <td>10000 грн.</td>
                        </tr>
                        <tr>
                            <td>Зарплата</td>
                            <td>20 грн.</td>
                        </tr>
                        <tr>
                            <td>Команда</td>
                            <td>Динамо Киев</td>
                        </tr>
                        <tr>
                            <td>Страна</td>
                            <td>Украина</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="player-photo-wrapper">
        <img class="player-photo" src="/Content/img/general/player-form.png" />
        <!--<span class="player-number">10</span>
        <span class="player-surname">Шевченко</span>-->
    </div>
    <div class="skill-info table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <abbr title="Скорость">Cк.</abbr>
                    </th>
                    <th>
                        <abbr title="Игра головой">ИГ</abbr>

                    </th>
                    <th>
                        <abbr title="Сила удара">СУ</abbr>
                    </th>
                    <th>
                        <abbr title="Пас">Пас</abbr>
                    </th>
                    <th>
                        <abbr title="Точность">Точн.</abbr>
                    </th>
                    <th>
                        <abbr title="Отбор">Отбор</abbr>
                    </th>
                    <th>
                        <abbr title="Дриблинг">Др.</abbr>
                    </th>
                    <th>
                        <abbr title="Владение мячом">Вл.</abbr>
                    </th>
                    <th>
                        <abbr title="Реакция">Реакц.</abbr>
                    </th>
                    <th>
                        <abbr title="Игра в воздухе">ИвВ</abbr>
                    </th>
                    <th>
                        <abbr title="Прыжок">Пр.</abbr>
                    </th>
                    <th>
                        <abbr title="Позиционироване">Поз.</abbr>
                    </th>
                    <th>
                        <abbr title="Выносливость">Вын.</abbr>
                    </th>
                    <th>
                        <abbr title="Лиедрство">Cк.</abbr>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                    <td>2.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /ko -->
</section>
