<section class="training-wrapper">
    <p class="title">Тренировочный центр</p>
    <div class="info">
        <p>Здесь Вы можете дополнительно повысить характеристики игрока</p>
        <p>Так-же нужно выбрать интенсивность тренировки</p>
        <p>Высокая интенсивность - <b>20%</b> вероятность травмы</p>
        <p>Средняя интенсивность - <b>10%</b> вероятность травмы</p>
        <p>Низкая интенсивность - <b>0%</b> вероятность травмы</p>
        <div>
            Тренировать 
            <select>
                <option>Скорость</option>
            </select>
            с
            <select>
                <option>Легкой</option>
            </select>
            интенсивностью
        </div>
    </div>
    <div class="player-img"></div>
    <input type="button" class="btn btn-success" value="Тренироваться" />
</section>
