<section class="match-wrapper">
    <div class="scoreboard-wrapper">
        <div class="score-info">
            <div class="top-info">
                <img alt="" class="home-team-logo" data-bind="attr: { src: '/Content/img/teams/' + homeTeamShortName() + '.png' }" />
                <p class="team-name home-team-name" data-bind="text: homeTeamName"></p>
                <div class="score">
                    <p class="home-score" data-bind="text: homeGoal()"></p>
                    <p class="separator">:</p>
                    <p class="guest-score" data-bind="text: guestGoal()"></p>
                </div>
                <p class="team-name guest-team-name" data-bind="text: guestTeamName"></p>
                <img alt="" class="guest-team-logo" data-bind="attr: { src: '/Content/img/teams/' + guestTeamShortName() + '.png' }" />
            </div>
            <div class="bottom-info">
                <p class="datetime" data-bind="text: matchDateStart"></p>
                <p class="stadium" data-bind="text: homeStadium"></p>
            </div>
        </div>
    </div>
    <div class="event-line-wrapper">
        <p class="top-team" data-bind="text: homeTeamShortName"></p>
        <div class="line">
            <div class="events">
                <i class="clocks"></i>
                <i class="time0">0</i>
                <i class="time10">10</i>
                <i class="time20">20</i>
                <i class="time30">30</i>
                <i class="time40">40</i>
                <i class="time50">50</i>
                <i class="time60">60</i>
                <i class="time70">70</i>
                <i class="time80">80</i>
                <i class="time90">90</i>
            </div>
            <div class="cards-wrapper" data-bind="foreach: customEventsLineOnline">
                <span class="match-icon" data-bind="css: { goal: type == 0, yellow_card: type == 1, red_card: type == 2, top: isHome, bottom: !isHome }, style: { left: coord + '%' }"></span>
            </div>
        </div>
        <p class="bottom-team" data-bind="text: guestTeamShortName"></p>
    </div>
    <table class="table score-table" data-bind="visible: customEventsLineOnline().length != 0">
        <tr class="main" data-bind="visible: homeGoalEventsLineOnline().length != 0 || guestGoalEventsLineOnline().length != 0">
            <td colspan="2">Голы</td>
        </tr>
        <tr data-bind="visible: homeGoalEventsLineOnline().length != 0 || guestGoalEventsLineOnline().length != 0">
            <td data-bind="foreach: homeGoalEventsLineOnline">
                <div>
                    <div class="goal"></div>
                    <p class="minute" data-bind="text: minute + '’'"></p>
                    <span class="surname" data-bind="text: playerName + ' ' + playerSurname"></span>
                </div>
            </td>
            <td data-bind="foreach: guestGoalEventsLineOnline">
                <div>
                    <span class="surname" data-bind="text: playerName + ' ' + playerSurname"></span>
                    <div class="goal"></div>
                    <p class="minute" data-bind="text: minute + '’'"></p>
                </div>
            </td>
        </tr>
        <tr class="main" data-bind="visible: homeYellowEventsLineOnline().length != 0 || guestYellowEventsLineOnline().length != 0">
            <td colspan="2">Предупреждения</td>
        </tr>
        <tr data-bind="visible: homeYellowEventsLineOnline().length != 0 || guestYellowEventsLineOnline().length != 0">
            <td data-bind="foreach: homeYellowEventsLineOnline">
                <div>
                    <div class="yellow_card"></div>
                    <p class="minute" data-bind="text: minute + '’'"></p>
                    <span class="surname" data-bind="text: playerName + ' ' + playerSurname"></span>
                </div>
            </td>
            <td data-bind="foreach: guestYellowEventsLineOnline">
                <div>
                    <span class="surname" data-bind="text: playerName + ' ' + playerSurname"></span>
                    <div class="yellow_card"></div>
                    <p class="minute" data-bind="text: minute + '’'"></p>
                </div>
            </td>
        </tr>
        <tr class="main" data-bind="visible: homeRedEventsLineOnline().length != 0 || guestRedEventsLineOnline().length != 0">
            <td colspan="2">Удаления</td>
        </tr>
        <tr data-bind="visible: homeRedEventsLineOnline().length != 0 || guestRedEventsLineOnline().length != 0">
            <td data-bind="foreach: homeRedEventsLineOnline">
                <div>
                    <div class="red_card"></div>
                    <p class="minute" data-bind="text: minute + '’'"></p>
                    <span class="surname" data-bind="text: playerName + ' ' + playerSurname"></span>
                </div>
            </td>
            <td data-bind="foreach: guestRedEventsLineOnline">
                <div>
                    <span class="surname" data-bind="text: playerName + ' ' + playerSurname"></span>
                    <div class="red_card"></div>
                    <p class="minute" data-bind="text: minute + '’'"></p>
                </div>
            </td>
        </tr>
    </table>
    <div class="navigation">
        <div class="nav-item" data-bind="css: { active: activePageIndex() == 0 }, click: function () { setPageIndex(0); }">Трансляция</div>
        <div class="nav-item" data-bind="css: { active: activePageIndex() == 1 }, click: function () { setPageIndex(1); }">Составы</div>
        <div class="nav-item" data-bind="css: { active: activePageIndex() == 2 }, click: function () { setPageIndex(2); }">Статистика</div>
        <div class="nav-item" data-bind="css: { active: activePageIndex() == 3 }, click: function () { setPageIndex(3); }">Отчет</div>
    </div>


    <div class="info-wrapper translation-wrapper" data-bind="visible: activePageIndex() == 0">
        <table class="table" data-bind="visible: customMatchResultOnline().length != 0">
            <tbody data-bind="foreach: customMatchResultOnline">
                <tr>
                    <td>
                        <!-- ko if: isGoal -->
                        <div class="goal"></div>
                        <!-- /ko -->
                        <!-- ko if: isYellow -->
                        <div class="yellow_card"></div>
                        <!-- /ko -->
                        <!-- ko if: isRed -->
                        <div class="red_card"></div>
                        <!-- /ko -->
                    </td>
                    <td data-bind="text: minute + '’'"></td>
                    <td data-bind="html: text"></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="info-wrapper team-wrapper" data-bind="visible: activePageIndex() == 1">
        <table class="table teams" data-bind="visible: matchStart">
            <tr class="main">
                <td data-bind="text: homeTeamName"></td>
                <td data-bind="text: guestTeamName"></td>
            </tr>
            <tr>
                <td data-bind="foreach: homePlayers">
                    <div>
                        <p class="number" data-bind="text: number"></p>
                        <p class="position" data-bind="text: positionPublicId"></p>
                        <span class="surname" data-bind="text: name + ' ' + surname"></span>
                    </div>
                </td>
                <td data-bind="foreach: guestPlayers">
                    <div>
                        <span class="surname" data-bind="text: name + ' ' + surname"></span>
                        <p class="position" data-bind="text: positionPublicId"></p>
                        <p class="number" data-bind="text: number"></p>
                    </div>
                </td>
            </tr>
        </table>
    </div>


    <div class="info-wrapper statistics-wrapper" data-bind="visible: activePageIndex() == 2">
        <table class="table" data-bind="visible: matchStatistics != ''">
            <thead>
                <tr>
                    <th></th>
                    <th data-bind="text: homeTeamName"></th>
                    <th data-bind="text: guestTeamName"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Голы</td>
                    <td data-bind="text: homeGoal"></td>
                    <td data-bind="text: guestGoal"></td>
                </tr>
                <tr>
                    <td>Удары по воротам</td>
                    <td data-bind="text: matchStatistics().homeStrike"></td>
                    <td data-bind="text: matchStatistics().guestStrike"></td>
                </tr>
                <tr>
                    <td>Удары в створ</td>
                    <td data-bind="text: matchStatistics().homeStrikeOnGoal"></td>
                    <td data-bind="text: matchStatistics().guestStrikeOnGoal"></td>
                </tr>
                <tr>
                    <td>Жёлтые карточки</td>
                    <td data-bind="text: homeYellowEventsLineOnline().length"></td>
                    <td data-bind="text: guestYellowEventsLineOnline().length"></td>
                </tr>
                <tr>
                    <td>Красные карточки</td>
                    <td data-bind="text: homeRedEventsLineOnline().length"></td>
                    <td data-bind="text: guestRedEventsLineOnline().length"></td>
                </tr>
                <tr>
                    <td>Владение мячом, %</td>
                    <td data-bind="text: matchStatistics().homePosession"></td>
                    <td data-bind="text: matchStatistics().guestPosession"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="info-wrapper report-wrapper" data-bind="visible: activePageIndex() == 3">
        <div data-bind="visible: matchStart">
            <p data-bind="text: homeTeamName() + ' - ' + guestTeamName() + ' ' + homeGoal() + ':' + guestGoal()"></p>
            <p data-bind="visible: !(homeGoal() == 0 && guestGoal() == 0)">
                <strong>Голы: </strong>
                <!-- ko foreach: customEventsLineOnline -->
                <span data-bind="text: (type == 0 ? playerName + ' ' + playerSurname + ' ' + minute + '’' : '') + (type == 0 ? ',' : '')"></span>
                <!-- /ko -->
            </p>
            <p>
                <strong data-bind="text: homeTeamName() + ': '"></strong>
                <!-- ko foreach: homePlayers -->
                <span data-bind="text: surname + ','"></span>
                <!-- /ko -->
            </p>
            <p>
                <strong data-bind="text: guestTeamName() + ': '"></strong>
                <!-- ko foreach: guestPlayers -->
                <span data-bind="text: surname + ','"></span>
                <!-- /ko -->
            </p>
            <p data-bind="visible: !(homeYellowEventsLineOnline().length == 0 && guestYellowEventsLineOnline().length == 0)">
                <strong>Предупреждения: </strong>
                <!-- ko foreach: customEventsLineOnline -->
                <span data-bind="text: (type == 1 ? playerName + ' ' + playerSurname + ' ' + minute + '’' : '') + (type == 1 ? ',' : '')"></span>
                <!-- /ko -->
            </p>
            <p data-bind="visible: !(homeRedEventsLineOnline().length == 0 && guestRedEventsLineOnline().length == 0)">
                <strong>Удаления: </strong>
                <!-- ko foreach: customEventsLineOnline -->
                <span data-bind="text: (type == 2 ? playerName + ' ' + playerSurname + ' ' + minute + '’' : '') + (type == 2 ? ',' : '')"></span>
                <!-- /ko -->
            </p>
        </div>
    </div>
</section>
